{% extends 'admin.html.twig' %}

{% block title %}Admin Thematics{% endblock %}

{% block content %}
    <h1>Thematics</h1>

    <table class="table table-hover table-striped align-middle">
        <thead>
        <tr>
            <th scope="col" class="w-auto">#</th>
            <th scope="col" class="w-25">Name</th>
            <th scope="col" class="w-25">Page</th>
            <th scope="col" class="w-auto">Position</th>
            <th scope="col" class="w-auto">Images</th>
            <th scope="col" class="w-auto">Updated At</th>
            <th scope="col" class="w-auto">Created At</th>
            <th scope="col" class="w-auto">Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for thematic in thematics %}
            <tr>
                <th scope="row">{{ thematic.id }}</th>
                <td>{{ thematic.name }}</td>
                <td>{{ thematic.page }}</td>
                <td>{{ thematic.position }}</td>
                <td>{{ thematic.thematicImages.count }}</td>
                <td>{{ thematic.updatedAt ? thematic.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ thematic.createdAt ? thematic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>

                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm px-3"
                           href="{{ path('admin_thematic_images_show', {'id': thematic.id}) }}"
                           data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Manage Images">
                            <i class="bi bi-image fs-5"></i>
                        </a>

                        <button class="btn btn-outline-secondary py-0" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('admin_thematic_edit', {'id': thematic.id}) }}"><i
                                        class="bi bi-pencil me-2"></i> edit</a>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#deletethematic{{ thematic.id }}"><i class="bi bi-trash me-2"></i>
                                Delete
                            </button>
                        </div>

                    </div>


                    <!-- Delete Modal -->
                    <div class="modal fade" id="deletethematic{{ thematic.id }}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletethematic{{ thematic.id }}_label"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deletethematic{{ thematic.id }}_label">Delete
                                        thematic {{ thematic.name }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this item?
                                </div>
                                <div class="modal-footer">
                                    <form method="post"
                                          action="{{ path('admin_thematic_delete', {'id': thematic.id}) }}">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ thematic.id) }}">
                                        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abort</a>
                                        <button type="submit" class="btn btn-danger">Ok, Delete it!</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <a class="btn btn-success float-end" href="{{ path('admin_thematic_new') }}"><i class="bi bi-plus fs-5"></i> Create
        new</a>
{% endblock %}
